body {
	padding-top: 6em;
}

.collapse.navbar-collapse .navbar-collapse-span {
	display:none;
}

.collapse.navbar-collapse.show .navbar-collapse-span {
	display:inline-block;
}

.submitForm {
	position:absolute;
    left: 1rem !important;
    right: 1rem !important;
    bottom: 1rem !important;
}

.dropdown.bootstrap-select {
	display:block;
	width:100%!important;
}